
.tabletdformfield {
    font-family: verdana,arial,helvetica,sans-serif;
    color: black;
    padding: 2px;
}
.tabletdheader {
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    background-color: lightblue;
    color: black;
}
.tabletrheader {
    font-family: Verdana, Arial, Helvetica;
    font-weight: bold;
    background-color: #c4c5a8;
}
.tableform {
    padding: 0px;
    margin: 2px;
    border-style: solid;
    border-width: thin;
    border-color: darkblue;
}
.tabletrfooter {
    font-family: sans-serif;
    background-color: darkblue;
    color: white;
    padding: 2px;
}
.reportfooter {
    font-family: sans-serif;
    background-color: darkblue;
    color: white;
    padding: 2px;
}
.tdformlabel {
    font-family: verdana,arial,helvetica,sans-serif;
    color: black;
    padding: 2px;
    text-align: right;
}
.tabletdsidelink {
    color: #0000AC;
}
.linkheader {
    color: white;
}
.linkupdate {
    color: #0000AC;
}
.linkdelete {
    color: #0000AC;
}
.linkadd {
    color: #0000AC;
}
.reportnavlink {
    color: #0000AC;
}
.tabletr1 {
    background-color: #F6FAFF;
}
.tabletr2 {
    background-color: #EEF6F6;
}
.error_message {
    color: red;
}