html { overflow-y: scroll; }
a, a:visited { color: #000000; text-decoration: none; outline: none; }
body { margin: 0; padding: 0; text-align: center; background-color: #badde1;
       background-image: url("/images/ofuz_profile_page_bg.gif"); background-repeat: repeat-x;
       font-family: arial, helvetica, verdana, geneva, sans-serif; font-size: 14px; }
form { margin: 0; padding: 0; }
img { border: none; }

.layout_center { width: 300px; margin: 0 auto; text-align: left; }
.layout_full { text-align: left; background-color: #ffffff; }
.layout_top { position: relative; width: 300px; height: 100px; background-image: url("/images/ofuz_logo_profile_bg.png"); }
.layout_main { width: 300px; height: auto; background-color: #ffffff; }
.layout_bottom { width: 300px; height: 135px; background-image: url("/images/ofuz_profile_leaves.png"); }
.layout_headline { padding: 18px 25px; font-size: 18px; }
.layout_lineitems { float: left; width: 200px; }
.layout_lineitem { width: 200px; height: 24px; line-height: 24px; white-space: nowrap; overflow: hidden; }
.layout_add { float: right; width: 91px; z-index: 2; background-color: #ffffff; }
.layout_clear { clear: both; }
.profile_icon { width: 16px; margin-right: 10px; vertical-align: middle; }
.profile_button { width: 91px; height: 26px; margin-bottom: 12px; padding: 0; border: 0; }
.profile_photo { position: absolute; top: 10px; right: 0; width: 80px; height: 80px; overflow: hidden; }
.layout_address { padding: 10px 25px; background-color: #ffffff; }

.profile_web_layout_main{ width: 100%; height: auto; background-color: #ffffff; }
.profile_web_layout_inner{width: 50%; margin: 0 auto; text-align: left; }
.profile_web_layout_photo_block{width: 100%; height: 140px;border: 3px solid #e0e0e0;background:#efefef; font-size: 18px; color: #666666;margin-top:0px;}
.profile_web_layout_photo_left{ 
  position:relative;float:left;width:15%;height: 100%;
 
}
.profile_photo { position:relative;width: 120px; height: 120px; background-color: black; margin:2px 2px 2px 6px; border: 2px solid white;  }
.profile_web_layout_photo_right{position:relative;float:left;width:85%;}
.profile_name {font-size: 32px; font-weight: bold; color: black; margin: 10px 0px 0px 12px; text-align: left;}
.profile_title { color: #666666; text-align: left; margin:0px 0px 0px 12px; font-size:15px; }
.profile_company { color: #1d8cd2; text-align: left; font-size:15px;}
.profile_text_subjectline { margin-left: 2px; font-weight: bold; color:#898989;font-size:16px;}
.profile_text_content { font-size: 36; width: 100%; text-align: left; margin-left: 4px; }
.profile_ci_text { font-size: 16px; color: black; text-align: left; margin: 0px 0px 0px 12px; }
.profile_line { float:none; width: 100%; height: 2px; line-height: 2px; font-size: 1px; border-bottom: solid 2px #cfcfcf;}
.spacerblock_40 { width: 100%; height: 40px; clear: both; }
.spacerblock_20 { width: 100%; height: 20px; clear: both; }